.d-6 {
	font-size: 150%
}

.d-5 {
  font-size: 200%
}

.d-4 {
  font-size: 250%
}

.d-3 {
  font-size: 300%
}

.d-2 {
  font-size: 350%
}

.d-1 {
  font-size: 400%
}

.space-top {
  margin-top: 10px;
}

.space-top-2x {
  margin-top: 20px;
}

.space-top-3x {
  margin-top: 30px;
}

.space-top-4x {
  margin-top: 40px;
}

.space-top-5x {
  margin-top: 50px;
}

.space-top-6x {
  margin-top: 60px;
}

.space-bottom {
  margin-bottom: 10px;
}

.space-bottom-2x {
  margin-bottom: 20px;
}

.space-bottom-3x {
  margin-bottom: 30px;
}

.space-bottom-4x {
  margin-bottom: 40px;
}

.space-bottom-5x {
  margin-bottom: 50px;
}

.space-bottom-6x {
  margin-bottom: 60px;
}



.space-right {
  margin-right: 10px;
}

.space-right-2x {
  margin-right: 20px;
}

.space-right-3x {
  margin-right: 30px;
}

.space-right-4x {
  margin-right: 40px;
}

.space-right-5x {
  margin-right: 50px;
}

.space-right-6x {
  margin-right: 60px;
}

.space-left {
  margin-left: 10px;
}

.space-left-2x {
  margin-left: 20px;
}

.space-left-3x {
  margin-left: 30px;
}

.space-left-4x {
  margin-left: 40px;
}

.space-left-5x {
  margin-left: 50px;
}

.space-left-6x {
  margin-left: 60px;
}
